<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Links</h4>
        <mat-list>
          <mat-list-item ><a mat-button routerLink='/home'>Home</a></mat-list-item>
          <mat-list-item><a mat-button routerLink='/about'>About</a></mat-list-item>
          <mat-list-item><a mat-button routerLink='/menu'>News</a></mat-list-item>
          <mat-list-item><a mat-button routerLink='/contactus'>Rate</a></mat-list-item>
        </mat-list>
      </div>
       
    </div>
  </div>
   
   
</div>