<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>About Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Our History</h2>
        <p>CEO Changpeng Zhao had previously founded Fusion Systems in 2005 in Shanghai; the company built high-frequency trading systems for brokers. In 2013 he joined Blockchain.info as the third member of the cryptocurrency wallet’s team. He also worked at OKCoin as CTO for less than a year, a platform for spot trading between fiat and digital assets.[2] The company was founded in China but moved its servers and headquarters out of China and into Japan in advance of the Chinese government ban on cryptocurrency trading in September 2017. By March 2018 the company had established offices in Taiwan.</p>
         </div>
      <div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            <h2>Our website will help you to understand more about cryptocurrency</h2>
            </mat-card-title>
          </mat-card-header>
           
        </mat-card>
      </div>
    </div>
  </div>
  
   

  
  
  
</div>