<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>Information</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
      <p>Satoshi Nakamoto: the creator of the first cryptocurrency
        Do you remember the global economic crisis that began more than a decade ago? Yes, in 2008, a funding crisis affecting everyone, including America’s superpower, was booming. The effects of such a large economic disaster were dormant and the coins were losing value faster and faster.
        
        In 2009, the so-called Satoshi Nakamoto a person whose identity is still secret, created the first cryptocurrency, Bitcoin. As you have already read, he was not the first person who came up with the idea to create it. What was the intention behind it? To create a new way of payment that could be used internationally, decentralized and without having any financial institution behind it.
        
        What drove him to create his cryptocurrency was that big economic crisis that affected millions of citizens. Also, the need to make people see that there is another type of money, which is not the conventional one, that you can also use and benefit from it.</p>
     
  </div>
</div>